<!DOCTYPE html>
<html>
    <head>
        <title>Careers</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-4 mb-4">Visionique Careers</h1>
            <img class="img-fluid" src="static\banner.jpg">
            <h2 class="text-center mt-4 mb-4">About Visionique</h2>
            <p class="lead">Visionique is at the forefront of computer vision technology, leveraging advanced algorithms 
                and state-of-the-art solutions to transform digital imagery into actionable insights. 
                Our team of experts is dedicated to pushing the boundaries of what's possible, creating 
                innovative tools that enable businesses and organizations to harness the power of visual data 
                analysis. With a commitment to excellence and a passion for discovery, Visionique is driving 
                the future of intelligent visual processing, making it an integral part of the digital 
                transformation journey.
            </p>
            <h2 class="text-center mt-4 mb-4">Open positions</h2>
            <p class="lead">TODO: Show the job here</p>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Contact Us">
                <p class="mt-4">Copyright 2024, Visionique</p>
            </div>
        </div>
    </body>
</html>